<h1>Make a new category!</h1>
<form action="<%= categories_url %>" method="post">
	<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

	<label for="name">Name</label>
	<input type="text" name="category[name]" id="name">
	<input type="submit" value="Create category">
</form>
