<h1><%= @user.username %>'s page</h1>

<% if current_user == @user %>
	<%= render 'goals/goal_form' %>
	<h2>Private goals</h2>
	<ul>
		<% @private_goals.each do |private_goal| %>
		<li> <%= link_to(private_goal.title, goal_url(private_goal)) %> </li>
		<% end %>
	</ul>

<% end %>

<h2>Public goals</h2>
<ul>
	<% @public_goals.each do |public_goal| %>
	<li> <%= link_to(public_goal.title, goal_url(public_goal)) %> </li>
	<% end %>
</ul>




